<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <servlet>
    <servlet-name>gpp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

	<servlet-mapping>
		<servlet-name>gpp</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
  <!-- <servlet-mapping>
    <servlet-name>gpp</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
 -->
  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>AuthentificatorFilter</filter-name>
		<filter-class>
			gpp.filters.UserSecurityFilter
		</filter-class>
	</filter>
	
	<!-- 
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/adm/*</url-pattern>
	</servlet-mapping>

	
     <error-page>
		<error-code>404</error-code>
		<location>/jsp/error.jsp</location>
	</error-page>   

    <error-page>
		<error-code>500</error-code>
		<location>/jsp/error.jsp</location>
	</error-page>
 -->
</web-app>